<div class="item team">
  <div class="header">
    <div class="title">
      <%= link_to team do %>
        <%= team.name %>
      <% end %>
    </div>
  </div>
  <div class="attr pledge-target">
    <div class="label">Target:</div>
    <div class="value"><%= team.pledge_target %></div>
  </div>
</div>
