<div class="item team">
  <div class="team-info">
    <div class="name">
      <%= team.name %>
    </div>
  </div>

  <div class="actions">
    <div class="new-pledge">
      <% if team.event.has_started? && !team.event.has_ended? %>
        <%= link_to new_team_pledge_url(team, protocol: secure_protocol) do %>
          <div class="action btn">Make a Pledge</div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="progress-bar">
    <div class="pct-complete" style="width: <%= [(team.pledge_total / team.pledge_target) * 100, 100].min %>%"></div>
  </div>
</div>
