<div id="new-team" class="setup-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Add a Team</div>
      <div class="description">...</div>
    </div>

    <%= render 'form' %>
  </div>
</div>
