<div id="account-confirmation" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Resend Confirmation Instructions</div>
      <div class="description">Enter your email address in the field below to have a new account confirmation email sent to you.</div>
    </div>

    <%= form_for(resource,
                 as: resource_name,
                 url: confirmation_path(resource_name),
                 html: { method: :post }) do |f| %>

      <% content_for 'email_field' do %>
        <%= f.email_field :email, autofocus: true %>
      <% end %>
      <%= render(partial: "shared/form_field",
                 locals: {
                   form: f,
                   model: resource,
                   attr: :email
                 }) %>

      <div class="actions">
        <%= f.button("Resend", {
                       onClick: '$("#account-confirmation form").submit()',
                       type: :button,
                       class: [:btn, :submit]
                     }) %>
      </div>
    <% end %>

  </div>
</div>
