<div class="item fundraiser">
  <div class="header">
  <%= link_to fundraiser do %>
    <div class="title"><%= fundraiser.title %></div>
  <% end %>
  </div>
  <div class="attr description">
    <div class="value"><div class="label">Description:</div> <%= fundraiser.description %></div>
  </div>
</div>
