<div id="fundraiser-edit" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Update Fundraiser</div>
      <div class="description">
        Use the form below to update the details for your fundraiser.
      </div>
    </div>

    <%= render(partial: 'form', locals: { 
                 action: 'Update',
                 cancel_path: fundraiser_path(@fundraiser)
               }) %>

  </div>
</div>
