<div id="fundraiser-index">
  <div class="centerer">
    <div class="intro">
      <div class="title">Check out these Fundraisers</div>
      <div class="description">The following fundraisers are currently currently active or getting started soon. This is a great way to find new opportunities to get involved with and great causes to support.</div>
    </div>

    <div class="list">
      <!-- TODO: Add paging -->
      <% @fundraisers.each do |f| %>
          <%= render partial: 'list_item', locals: { fundraiser: f } %>
      <% end %>
      <!-- TODO: Detect when no fundraisers are found. -->
    </div>
  </div>
</div>
