<div id="new-fundraiser" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Plan a Fundraiser</div>
      <div class="description">...</div>
    </div>

    <%= render 'form' %>
  </div>
</div>
