<div id="new-fundraiser" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Plan a Fundraiser</div>
      <div class="description">Great! Let's get down all the details people will want to know about your fundraising campaign. You can keep this fairly generic since you'll create the individual events that compose this fundraiser as the next step. Be sure to highlight the purpose and goal of the fundraiser to keep donors mindful of what they're supporting.</div>
    </div>

    <%= render(partial: 'form', locals: {
                 action: 'Schedule',
                 cancel_path: organization_path(@fundraiser.organization)
               }) %>
  </div>
</div>
