<div id="new-pledge" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Make a Pledge</div>
      <div class="description">Thanks so much for supporting a worthy cause with your pledge. You will receive an email at the completion of the event with a complete summary of the pledges you have made and how you can submit your payment.</div>
    </div>

    <%= render(partial: 'form', locals: {
                 cancel_path: event_path(@pledge.event)
               }) %>
  </div>
</div>
