/**
 *  ==== Common Show Style ====
 **/

.std-show>.header {
    width: 95%;
    margin: 2% auto;
}
.std-show>.header .icon {
    display: inline-block;

    width: 4em;
    max-width: 30%;
    height: 4em;
    margin: 2%;

    text-align: center;
    vertical-align: middle;
}

.std-show>.header .text {
    display: inline-block;

    width: 60%;

    vertical-align: middle;
}
.std-show>.header .title {
    font-size: 1.5em;
}

.std-show .controls {
    text-align: center;
}
.std-show .controls .members {
    display: inline-block;
    margin: 2%;

    text-align: center;
}
.std-show .controls .members .action {
    display: inline-block;

    width: 10em;

    vertical-align: middle;
}
.std-show .controls .public {
    display: inline-block;
    margin: 0 2%;

    text-align: center;
}
.std-show .controls .public .action {
    display: inline-block;

    width: 10em;

    vertical-align: middle;
}

.std-show .details {
    width: 85%;
    margin: 2% auto;
}
.std-show .details .attribute {
    margin: 1% 1% 1% 5%;
}
.std-show .details .attribute .label {
    position: relative;
    display: inline-block;

    width: 7em;
    right: 4%;

    vertical-align: middle;

    font-weight: bold;
}

.std-show .details .attribute .timeframe {
    display: inline-block;
    width: 60%;

    text-align: center;

    vertical-align: middle;
}
.std-show .details .attribute .timeframe .time {
    width: 100%;

    text-align: center;
}
.std-show .details .attribute .timeframe .time .date {
    display: inline-block;
}
.std-show .details .attribute .timeframe .time .time {
    display: inline-block;

    width: auto;
}
.std-show .details .attribute .timeframe .single-line {
    display: none;
}


.std-show .association {
    margin: 4%;
}
.std-show .association .title {
    margin: 0.5em auto;

    text-align: center;
    font-size: 1.2em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.std-show .association .list .title {
    margin: 1%;

    text-align: left;
    font-size: 1.1em;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.std-show .association .notice {
    width: 80%;
    margin: auto;
    padding: 1em;

    background-color: #A0CAFF;

    text-align:center;
    color: #EE6060;
}


@media screen and (min-width: 500px)  {
    .std-show .details .attribute .label {
        width: 8em;
    }
    .std-show .details .attribute .timeframe {
        width: 65%;

        text-align: left;
    }
    .std-show .details .attribute .timeframe .time {
        display: inline-block;
        width: 7.5em;

        text-align: center;

        vertical-align: middle;
    }
    .std-show .details .attribute .timeframe .single-line {
        display: inline-block;
    }
    .std-show .details .attribute .timeframe .multi-line {
        display: none;
    }
    .std-show .association .notice {
        width: 50%;
    }
}
@media screen and (min-width: 600px)  {
    .std-show>.header {
        margin: .8em auto;
    }
    .std-show>.header .icon {
        margin: .8em;
    }
    .std-show .controls {
        margin: .8em;
    }
    .std-show .details {
        margin: .8em auto;
    }
    .std-show .details .attribute {
        margin: .4em .4em .4em 2em;
    }
    .std-show .association {
        margin: 1.6em;
    }
    .std-show .association .list .title {
        margin: .2em;
    }
}
@media screen and (min-width: 900px)  {
    .std-show>.header {
        display: inline-block;

        width: 65%;
        margin: .8em 1.4em;
    }
    .std-show .controls {
        display: inline-block;

        width: 25%;

        vertical-align: top;
    }
    .std-show .controls .members {
        width: 100%;
        margin: auto;

        vertical-align: middle;
        text-align: center;
    }
    .std-show .controls .members .action {
        display: block;

        max-width: 80%;

        margin: .3em auto;
    }
    .std-show .controls .public {
        width: 100%;
        margin: auto;

        vertical-align: middle;
        text-align: center;
    }
    .std-show .controls .public .action {
        display: block;

        max-width: 80%;

        margin: .3em auto;
    }
    .std-show .association .notice {
        width: 40%;
    }
}
