<div class="section get-started">
  <div class="body">
    <div class="hook">
      <div class="intro">Bring some real spirit to your next fundraiser...</div>
      <div>The spirit of competition!</div>
    </div>
    <div class="centerer">
      <%= link_to new_organization_path do %>
        <div class="btn">Get Started</div>
      <% end %>
    </div>
  </div>
</div>
