<div class="section get-started">
  <div class="body">
    <div class="hook">
      Bring some real spirit to your next fundraiser... 
      The spirit of competition!
    </div>
    <%= link_to new_organization_path do %>
      <div class="btn">Get Started</div>
    <% end %>
  </div>
</div>
