<div class="section method">
  <div class="body">
    <div class="title">How It Works</div>
    <div class="outline">
      <div class="step plan">
        <div class="title">
          <div class="horiz-line left"></div>
          Plan
          <div class="horiz-line right"></div>
        </div>
        <div class="pic" data-step="plan"><%= image_tag "home-plan.jpg" %></div>
      </div>
      <div class="step recruit">
        <div class="title">
          <div class="horiz-line left"></div>
          Recruit
          <div class="horiz-line right"></div>
        </div>
        <div class="pic" data-step="recruit"><%= image_tag "home-recruit.jpg" %></div>
      </div>
      <div class="step host">
        <div class="title">
          <div class="horiz-line left"></div>
          Host
          <div class="horiz-line right"></div>
        </div>
        <div class="pic" data-step="host"><%= image_tag "home-host.jpg" %></div>
      </div>
      <div class="step follow-up">
        <div class="title">
          <div class="horiz-line left"></div>
          Follow Up
          <div class="horiz-line right"></div>
        </div>
        <div class="pic" data-step="follow-up"><%= image_tag "home-followup.jpg" %></div>
      </div>
    </div>
    <div class="steps">
      <div class="step plan">
        <div class="title">Plan the Event</div>
        <div class="description">
          <div class="action">
            <div class="title">Pick an Event Type</div>
            <div class="content">
              Start with a contest or competition that you'd like to structure the event around. This could be a standup comedy show, a battle of the bands, or even a slam-dunk contest. The sky's the limit here, so you can really tailor this to fit the interests of your attendees.
            </div>
          </div>
          <div class="action">
            <div class="title">Set a Goal</div>
            <div class="content">
              Identify your overall donation goal and divide this by the number of teams/participants you plan to include. This will be the goal for each team to raise as part of the event.
            </div>
          </div>
          <div class="action">
            <div class="title">Choose Rewards</div>
            <div class="content">
              Create a reward system for the participants to work toward. This could be a set of donation thresholds, each of which is associated with a different reward, or this could be a set of prizes that are awarded to the top three teams in terms of their cumulative donations received.
            </div>
          </div>
          <div class="action">
            <div class="title">Setup Your Account</div>
            <div class="content">
              At this point you'll create a new fundraiser and event for your organization at TeamRaising.org and populate it with all of this information (e.g. start and end times, prizes, etc). This will give all invitees a single place to go to stay up to date.
            </div>
          </div>
        </div>
      </div>
      <div class="step recruit">
        <div class="title">Recruit Team Captains</div>
        <div class="description">
          <div class="action">
            <div class="title">Get People Involved</div>
            <div class="content">
              Approach a handful of people that are passionate about your organization and/or your cause. Ask them to get involved and head up a team. Depending on the type of event you're planning, these teams may consist of just this single individual or they may need to recruit others to join their team.
            </div>
          </div>
          <div class="action">
            <div class="title">Create the Invitation List</div>
            <div class="content">
              Have each team submit a list of attendees they'd like to have invited to the event. Each team will invite as many family, friends, coworkers, and acquaintances as possible to build a large support base for their team at the event.
            </div>
          </div>
          <div class="action">
            <div class="title">Send Invitations</div>
            <div class="content">
              Feel free to have team captains send invitations directly, as this personal touch to the invitation will likely increase peoples acceptance rate. These attendees are certainly coming to support your cause, but at the same time they're also coming to support their friend or family member. It's a win-win!
            </div>
          </div>
          <div class="action">
            <div class="title">Set Teams on Your Account</div>
            <div class="content">
              Record the set of teams you will have at TeamRaising.org. This will allow us to track the pledges for each team individually and report on the standings in real-time.
            </div>
          </div>
        </div>
      </div>
      <div class="step host">
        <div class="title">Host the Event</div>
        <div class="description">
          <div class="action">
            <div class="title">Sell the Cause</div>
            <div class="content">
              Start the night by selling the attendees on the cause that the event is supporting. Highlight the impact that your organization has. Then, let the games begin.
            </div>
          </div>
          <div class="action">
            <div class="title">Explain the Structure</div>
            <div class="content">
              Walk through the structure of the fundraiser, introduce each of the teams, and talk up the prizes that they'll win for various levels of support.
            </div>
          </div>
          <div class="action">
            <div class="title">Get Them Involved</div>
            <div class="content">
              Point all attendees to the TeamRaising.org mobile site, where they'll be able to check the standings for each team, review the prizes and donation intervals associated with each, and make a pledge to support a particular team.
            </div>
          </div>
          <div class="action">
            <div class="title">Keep Them Up To Date</div>
            <div class="content">
              Load the real-time standings page we provide on a live screen at the event so each team and attendees can track where they stand and encourage people to support them.
            </div>
          </div>
          <div class="action">
            <div class="title">Give Them Options</div>
            <div class="content">
              Depending upon the audience it may also be helpful to sell "funny money" at the door for attendees that would prefer to use cash, as opposed to the online pledges. If you decide to do this, you may also want to have someone walking around with a bucket during each event for people to use this in support of various teams.
            </div>
          </div>
          <div class="action">
            <div class="title">Make Them Excited</div>
            <div class="content">
              Pause at a few points during the event to draw the audiences attention to the standings, celebrate the teams that have a lot of support, and encourage support for teams that are lower in the standings.
            </div>
          </div>
        </div>
      </div>
      <div class="step follow-up">
        <div class="title">Follow up with Your Supporters</div>
        <div class="description">
          <div class="action">
            <div class="title">Convert Pledges into Donations</div>
            <div class="content">
              We will automatically email each registered attendee notifying them of the amount that they pledged and providing a link for them to donate to your organization. Their donation will be made directly to your organization and not through TeamRaising.org.
            </div>
          </div>
          <div class="action">
            <div class="title">Review the Results</div>
            <div class="content">
              In addition to this we will send a report to the event planners outlining the results of the event and the pledges that each team received.
            </div>
          </div>
          <div class="action">
            <div class="title">Celebrate the Success</div>
            <div class="content">
              This will allow you to reach out to the attendees of the event and celebrate the support that they provided. Keeping these individuals engaged and excited about your cause will be an important factor in the success of you future fundraisers.
            </div>
          </div>
          <div class="action">
            <div class="title">Turn Attendees into Supporters</div>
            <div class="content">
              This can make the difference between having a one-time attendee and a lifelong supporter.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    setupHomeMethodTransitions();
  });
</script>
