<div class="section pitch">
  <div class="body">
    <div class="vert-centerer"></div>
    <div class="text-container text-carousel">
      <div class="text">
        <div class="vert-align">
          <div class="heading">
            Getting people excited about fundraising
          </div>
          <div class="content">
            By bringing together an interconnected group of friends and making a game out your organization's fundraiser, you'll find that people get more involved and caught up in the excitement of the event.
          </div>
        </div>
      </div>
      <div class="text">
        <div class="vert-align">
          <div class="heading">
            Aligning attendee's interests with your event goals
          </div>
          <div class="content">
            By decomposing your event into a set of teams, you put spread the ownership of the events success across a wider network and allow donors to support your organization's cause while at the same time supporting their friends and family.
          </div>
        </div>
      </div>
      <div class="text">
        <div class="vert-align">
          <div class="heading">
            Putting the FUN back in fundraising
          </div>
          <div class="content">
            Add some friendly competition to your next fundraising event and you'll find it not only helps you reach your fundraising goal but also results in a more exciting and enjoyable experience for your donors.
          </div>
        </div>
      </div>
    </div>
    <div class="img-carousel">
      <div>
        <div class="img-container">
          <div class="vert-align"></div>
          <%= image_tag "home-excitement.png" %>
        </div>
      </div>
      <div>
        <div class="img-container">
          <div class="vert-align"></div>
          <%= image_tag "home-cooperation.png" %>
        </div>
      </div>
      <div>
        <div class="img-container">
          <div class="vert-align"></div>
          <%= image_tag "home-competition.png" %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<script>
  $(document).ready(function(){
    launchHomeCarousel();
  });
</script>
