<div id="about-us">
  <div class="title">What We're All About</div>

  <div class="service">
    <div class="title">The Service</div>
    <div class="image"><%= image_tag "service.png" %></div>
    <div class="description">
      <span>
        TeamRaising.org is a dynamic fundraising platform designed to support team oriented donation opportunities. It allows fundraisers to seemlessly plan and manage fundraising events that ... 
      </span>
      <span>
        We're working hard to put the finishing touches on the platform and plan to have it launched shortly. Be sure to check back to see our progress!
      </span>
    </div>
  </div>

  <div class="vision">
    <div class="title">The Vision</div>
    <div class="description">
      
    </div>
    <div class="image"><%= image_tag "vision.png" %></div>
  </div>

  <div class="team">
    <div class="title">The Team</div>
    <div class="member">
      <div class="pic"><%= image_tag "hstrowd.png" %></div>
      <div class="name">Harrison Strowd</div>
      <div class="bio">
        Harrison has been developing software for over a decade in various corporate, volunteer, and educational environments. He has consistently had a passion for developing applications and services that positively impact the community around him. As the founder of TeamRaising.org, Harrison has been given the opportunity to turn this passion into a groundbreaking platform for a new style of fundraising.
      </div>
    </div>
  </div>
</div>
