<div id="about-us">
  <div class="section service">
    <div class="body">
      <div class="image"><%= image_tag "about/service.png" %></div>
      <div class="content">
        <div class="title">The Service</div>
        <div class="description">
          <p>
            TeamRaising.org is a dynamic fundraising platform designed to support team oriented donation opportunities. Our service allows fundraisers to seamlessly plan and manage fundraising events that bring together a diverse group of interconnected friends and family members to support both the people that they care about and a worthy cause.
          </p>
          <p>
            Structuring a fundraising event around a competition or contest raises the level of interest, excitement, and participation of your attendees. It would be great if people attended fundraising events with the single goal of supporting the featured cause, but that's simply not the case. By centering your event around an engaging activity, you provide attendees with entertainment and additional motivation to support your cause.
          </p>
          <p>
            We're working hard to put the finishing touches on the platform and plan to have it launched shortly. Be sure to check back to see our progress!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section vision">
    <div class="body">
      <div class="content">
        <div class="title">The Vision</div>
        <div class="description">
          <p>
            Here at TeamRaising.org we have a dramatic vision for what fundraising events can be in the future: interactive, energetic, competitive, and even fun. We see the great impact that non-profit and donation dependent organizations have on our local, national, and global communities. We see a lot of potential to make fundraisers more enjoyable and effective for both the attendees and hosting organizations. 
          </p>
          <p>
            We are committed to pursuing this vision in whatever direction is found to be most impactful. This will likely include but is not limited to: providing a platform for planning and hosting exciting fundraisers, providing hands on assistance for fundraising planners to ensure the success of these events, taking donations, instead of pledges, at no additional cost to the hosting organization, and exposing a forum for collaboration across host organization's in our community to continue to innovate with fresh ideas and new perspectives.
          </p>
        </div>
      </div>
      <div class="image"><%= image_tag "about/vision.png" %></div>
    </div>
  </div>

  <div class="section team">
    <div class="body">
      <div class="title">The Team</div>
      <div class="member">
        <div class="pic"><%= image_tag "about/hstrowd.jpg" %></div>
        <div class="personal-details">
          <div class="name">Harrison Strowd</div>
          <div class="bio">
            Harrison has been developing software for over a decade in various corporate, volunteer, and educational environments. He has consistently had a passion for developing applications and services that positively impact the community around him. As the founder of TeamRaising.org, Harrison has been given the opportunity to turn this passion into a groundbreaking platform for a new style of fundraising.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
