<div id="home">
  <div class="section one">
    <div class="body">
      We're striving to put the 'FUN' back into fundraising by adding some friendly competition to the mix.
    </div>
  </div>
  <div class="section two">
    <div class="body">
      Centering your event around a competition gets people involved, get's people excited, gets people to have fun.
    </div>
  </div>
  <div class="section three">
    <div class="body">
      Bring some real spirit to your next fundraiser... the spirit of competition.
    </div>
  </div>
</div>
