<% content_for :head do %>
    <script src="//cdn.optimizely.com/js/2313240121.js"></script>
<% end %>

<div id="home">

  <%= render "pitch" %>
  <%= render "method" %>
  <%= render "get_started" %>

</div>
