<div id="home">
  <div class="section one">
    <div class="body">
      This is section one.
    </div>
  </div>
  <div class="section two">
    <div class="body">
      This is section two.
    </div>
  </div>
  <div class="section three">
    <div class="body">
      This is section three.
    </div>
  </div>
</div>
