<div class="item event">
  <%= link_to event do %>
    <div class="title"><%= event.title %></div>
  <% end %>
  <div class="description"><%= event.description %></div>
  <!-- TODO: Add the date -->
</div>
