<div id="event-edit" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Update Event</div>
      <div class="description">
        Use the form below to update the details for your event.
      </div>
    </div>

    <%= render(partial: 'form', locals: {
                 action: 'Update',
                 cancel_path: event_path(@event)
               }) %>

  </div>
</div>
