<div id="event-index">
  <div class="centerer">
    <div class="intro">
      <div class="title">Active Events</div>
      <div class="description">Check out the following events that are scheduled to start soon, are currently taking place, or ended recently.</div>
    </div>

    <% if (@events.count > 0) %>
      <div class="list">
        <% @events.each do |event| %>
          <%= render partial: 'list_item', locals: { event: event, show_full_context: true } %>
        <% end %>
      </div>
    <% else %>
      <div class="list empty">
        No organizations found. Please create one to get started.
      </div>
    <% end %>
  </div>
</div>
