<div id="new-event" class="std-form">
  <div class="centerer">
    <div class="instructions">
      <div class="title">Schedule an Event</div>
      <div class="description">...</div>
    </div>

    <%= render 'form' %>
  </div>
</div>
