/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require slick
 *= require jquery-ui
 *= require_self
 */


/**
 * Site Wide Styles
 **/

html {
    height: 100%;
}
body {
    
    height: 100%;

    margin: 0;
    
    background-color: #DDDDDD;

    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/**
 * Site Wide Styles
 **/

.clear {
    clear: both;
}
.centerer {
    margin-left: auto;
    margin-right: auto;
}

#page-container {
    position: relative;
    
    min-height: 100%;
}

a {
    color: #3861E2;
    text-decoration: none;
}
a:hover {
    color: #7294FD;
    text-decoration: underline;
}



/**
 * Application Setup Form Styles
 **/

/* TODO: Rename this to just form. */
.setup-form .centerer {
    width: 940px;
}

.setup-form .instructions {
    width: 800px;
}
.setup-form .instructions .title {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}
.setup-form .instructions .description {
    margin: 10px 20px;
}

.setup-form form {
    margin: 20px 0;
}
.setup-form .field {
    margin: 10px 50px;

    vertical-align: middle;
}
.setup-form .field .label {
    display: inline-block;
    
    width: 150px;

    margin-right: 15px;

    color: #444444;
    font-size: 18px;
    
    vertical-align: middle;
    text-align: right;
}
.setup-form .field .label .help-text {
    font-size: 12px;
}
.setup-form .field .field_with_errors {
    display: inline-block;

    vertical-align: middle;
}
.setup-form .field input {
    width: 300px;

    padding: 5px;

    vertical-align: middle;
}
.setup-form .field .field_with_errors input {
    border-color: #EB8787;
    background-color: #FFBDBD;
}
.setup-form .field .field_with_errors textarea {
    border-color: #EB8787;
    background-color: #FFBDBD;
}
.setup-form .field textarea {
    width: 300px;
    max-width: 469px;
    height: 50px;
    max-height: 200px;

    padding: 5px;

    vertical-align: middle;

    font-size: 12px;
}
.setup-form .field .info {
    display: inline-block;

    height: 32px;

    font-size: 12px;
    
    vertical-align: middle;
}
.setup-form .field .info .icon {
    display: inline-block;

    width: 10px;
    height: 10px;
    
    padding: 3px;
    margin: 8px 2px;

    background-image: url(info.png); 
    
    vertical-align: middle;
}
.setup-form .field .info .description {
    display: none;

    max-width: 324px;

    padding: 2px;
    margin: 7px 0;

    vertical-align: top;
}
.setup-form .field .info:hover .description {
    display: inline-block;
}
.setup-form .field .error {
    display: inline-block;

    height: 32px;
    
    vertical-align: middle;
}
.setup-form .field .error .icon {
    display: inline-block;

    width: 10px;
    height: 10px;
    
    padding: 3px;
    margin: 8px 2px;

    background-image: url(error.gif); 
    
    vertical-align: middle;
}
.setup-form .field .error .reason {
    display: none;

    max-width: 324px;

    padding: 2px;
    margin: 3px 0;

    border: 1px solid #EB8787;
    border-radius: 4px;
    background-color: #FFBDBD;

    vertical-align: top;
}
.setup-form .field .error:hover .reason {
    display: inline-block;
}

.setup-form submit {
    width: 535px;
}
.setup-form input.submit {
    display: inherit;
    
    height: 40px;
    width: 240px;
    
    padding: 6px 4px;
    margin: 20px 170px;

    background-color: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.setup-form input.submit:hover {
    padding: 5px 4px;

    background-color: #A3EB87;
    border: 2px solid #AAAAAA;
}







/**
 * Header Styles
 **/

#header {
    position: fixed;
    top: 0px;

    width: 100%;

    /* Required to be above the Slick carousels. */
    z-index: 99;
    
    background-color: rgba(255,255,255,0.80);

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 14px;
}

#header .centerer {
    width: 800px;
    height: 60px;
}

#header .main-logo {
    display: inline-block;
    
    width: 200px;
    height: 50px;

    margin: 5px 0;

    background-color: #A0CAFF;
}

#header .primary-nav {
    display: inline-block;
    float: right;

    height: 20px;

    margin: 20px 10px;
}
#header .primary-nav a {
    margin: 5px;
    
    color: #666666;
    text-decoration: none;
}
#header .primary-nav a:hover {
    color: #92D279;
    text-decoration: underline;
}

#header .account-management {
    display: inline-block;
    float: right;

    width: 70px;
    height: 40px;

    margin: 10px 5px;
}
#header .account-management .current-user {
    display: inline-block;
    
    width: 60px
}
#header .account-management .current-user .user-welcome {
    font-size: 10px;
}
#header .account-management .btn {
    display: inline-block;
    
    width: 58px;
    padding: 6px 4px;
    margin: 3px 5px;

    border: 1px solid #888888;
    border-radius: 5px;

    text-align: center;
}
#header .account-management .btn:hover {
    display: inline-block;
    
    padding: 5px 4px;
    margin: 3px 4px;

    background-color: #A3EB87;
    border: 2px solid #AAAAAA;
}
#header .account-management a {
    color: #666666;
    text-decoration: none;
}
#header .account-management a:hover {
    color: #444444;
}

#header .login {
    display: none;
    
    height: 31px;

    background-color: #A3EB87;

    font-size: 12px;
}
#header .login .align-helper {
    width: 800px;

    margin: 0 auto;

    text-align:right;
}

#header .login .field {
    display:inline-block;

    margin: 4px 5px;
}
#header .login .field .label {
    display:inline-block;

    margin: 0 3px;
}
#header .login input {
    display: inline-block;

    padding: 3px;
}

#header .login .actions {
    display:inline-block;
}
#header .login .actions input.submit {
    display: inline-block;
    
    width: 48px;
    height: 26px
    padding: 3px 2px;
    margin: 1px 2px;

    background-color: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 5px;

    text-align: center;
}
#header .login .actions input.submit:hover {
    background-color: #A0CAFF;
    border: 1px solid #666666;
}




/**
 * Notification Styles
 **/

#notifications {
    width: 100%;
}

#notifications .notice {
    width: 100%;

    background-color: #E7EB87;

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 14px;
    text-align: center;
}
#notifications .notice .centerer {
    width: 800px;

    padding: 10px 0;
    margin: 0 auto;
}

#notifications .alert {
    width: 100%;

    background-color: #EB8787;

    font-size: 14px;
    text-align: center;
}
#notifications .alert .centerer {
    width: 800px;

    padding: 10px 0;
    margin: 0 auto;
}



/**
 * Page Content Styles
 **/

#page-content {
    width: 100%;

    margin: 59px auto 0;
    padding: 1px;  /* Prevents margins from collapsing. */
    padding-bottom: 40px;
}







/**
 * Footer Styles
 **/

#footer {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 40px;
    
    background-color: rgba(100,100,100,0.90);

    color: #CCCCCC;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 12px;
}

#footer .centerer {
    width: 800px;
}

#footer .copyright {
    display: inline-block;

    height: 12px;
    
    margin: 14px 0;
}

#footer .links {
    display: inline-block;
    float: right;

    height: 12px;
    
    margin: 14px 10px;
}
#footer .links a {
    margin: 2px;
    
    color: #FFFFFF;
    text-decoration: none;
}
#footer .links a:hover {
    text-decoration: underline;
}
