// Styling for Devise views.

#login {
    height: 100%;
    width: 300px;

    padding: 30px;
    margin: 80px auto;
    
    background-color: #A0CAFF;
}


#signup {
    height: 100%;
    width: 300px;

    padding: 30px;
    margin: 80px auto;
    
    background-color: #A0CAFF;
}


#forgot-password {
    height: 100%;
    width: 300px;

    padding: 30px;
    margin: 80px auto;
    
    background-color: #A0CAFF;
}
