// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require pickdate/default
//= require pickdate/default.date
//= require pickdate/default.time


.event-form .field input.datetime {
    display: inline-block;

    width: 40%;

    padding: 2%;
}
.event-form .field .picker--time .picker__frame {
    min-width: 180px;
    max-width: 200px;
}
.event-form .field .datetime-separator {
    display: none;
}

@media screen and (min-width: 450px)  {
  .event-form .field input.datetime {
      display: inline-block;

      width: 35%;
  }
  .event-form .field .datetime-separator {
      display: inline-block;

      width: 10%;
      max-width: 1em;

      margin: 0 auto;

      text-align: center;
  }
}


.item.event .attr.pledges .value .percent {
    display: inline-block;
}
.item.event .attr.pledges .value .total {
    display: inline-block;
}
.item.event .attr.pledges .value .target {
    display: inline-block;
}
.item.event .attr.pledges .value .count {
    display: inline-block;
}




/**
 *  ==== New Styles ====
 */

#new-event form .description .input textarea {
    height: 8em;
}






/**
 *  ==== Show Styles ====
 */

#event-show .header {
    width: 95%;
    margin: 2% auto;
}
#event-show .header .icon {
    display: inline-block;

    width: 4em;
    max-width: 30%;
    margin: 2%;

    vertical-align: middle;
}
#event-show .header .text {
    display: inline-block;

    width: 60%;

    vertical-align: middle;
}
#event-show .header .title {
    font-size: 1.5em;
}

#event-show .controls {
    text-align: center;
}
#event-show .controls .members {
    margin: 2%;

    text-align: center;
}
#event-show .controls .members .action {
    display: inline-block;

    width: 10em;
    max-width: 40%;
}

#event-show .details {
    width: 85%;
    margin: 2% auto;
}
#event-show .details .attribute {
    margin: 1% 1% 1% 5%;
}
#event-show .details .attribute .label {
    position: relative;
    display: inline-block;

    width: 6em;
    right: 4%;

    font-weight: bold;
}

#event-show .details .attribute.time .timeframe {
    display: inline-block;
    width: 60%;

    text-align: center;

    vertical-align: middle;
}
#event-show .details .attribute.time .timeframe .time {
    width: 100%;

    text-align: center;
}
#event-show .details .attribute.time .timeframe .time .date {
    display: inline-block;
}
#event-show .details .attribute.time .timeframe .time .time {
    display: inline-block;

    width: auto;
}
#event-show .details .attribute.time .timeframe .single-line {
    display: none;
}

#event-show .teams {
    margin: 4%;
}
#event-show .teams .title {
    margin: 0.5em auto;

    text-align: center;
    font-size: 1.2em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
#event-show .teams .list .title {
    margin: 1%;

    text-align: left;
    font-size: 1.1em;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
#event-show .teams .notice {
    width: 80%;
    margin: auto;
    padding: 1em;

    background-color: #A0CAFF;

    text-align:center;
    color: #EE6060;
}

@media screen and (min-width: 500px)  {
    #event-show .details .attribute.time .timeframe {
        width: 65%;

        text-align: left;
    }
    #event-show .details .attribute.time .timeframe .time {
        display: inline-block;
        width: 7.8em;

        text-align: center;

        vertical-align: middle;
    }
    #event-show .details .attribute.time .timeframe .single-line {
        display: inline-block;
    }
    #event-show .details .attribute.time .timeframe .multi-line {
        display: none;
    }
    #event-show .teams .notice {
        width: 50%;
    }
}
@media screen and (min-width: 600px)  {
    #event-show .header {
        margin: .8em auto;
    }
    #event-show .header .icon {
        margin: .8em;
    }
    #event-show .controls {
        margin: .8em;
    }
    #event-show .details {
        margin: .8em auto;
    }
    #event-show .details .attribute {
        margin: .4em .4em .4em 2em;
    }
}
@media screen and (min-width: 900px)  {
    #event-show .header {
        display: inline-block;

        width: 65%;
        margin: .8em 1.4em;
    }
    #event-show .controls {
        display: inline-block;

        width: 25%;

        vertical-align: top;
    }
    #event-show .controls .members {
        width: 100%;
        margin: auto;

        vertical-align: middle;
        text-align: center;
    }
    #event-show .controls .members .action {
        display: block;

        max-width: 80%;

        margin: .3em auto;
    }
    #event-show .teams .notice {
        width: 40%;
    }
}




/**
 *  ==== Dashboard Styles ====
 */

#event-dashboard .title {
    padding: 1%;

    text-align: center;

    font-size: 1.2em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#event-dashboard .header {
    width: 95%;
    margin: 2% auto;
}
#event-dashboard .header .logo {
    display: none;

    width: 10%;
    margin: 0 1%;

    vertical-align: middle;
}
#event-dashboard .header .text .title {
    margin: 1% 0;
    padding: 0;

    font-size: 2em;
}
#event-dashboard .header .text .subtitle {
    text-align:center;
}
#event-dashboard .header .clock {
    margin: 2%;
    padding: 1%;

    text-align: center;
}
#event-dashboard .header .clock.start {
    background-color: #A3EB87;
}
#event-dashboard .header .clock.end {
    background-color: #FDA8A8;
}
#event-dashboard .header .clock.done {
    background-color: #FDA8A8;
}

#event-dashboard .event-details {
    width: 95%;
    margin: 2% auto;
}

#event-dashboard .pledge-breakdown {
    margin: .5em;
    padding: .5em;

    vertical-align: top;
}
#event-dashboard .pledge-breakdown .title {
    background-color: #93BFF6;
}

#event-dashboard .pledge-log {
    margin: .5em;

    vertical-align: top;

    text-align: center;
}
#event-dashboard .pledge-log .headers .column {
    display: inline-block;

    font-size: .9em;
    text-align: center;
}
#event-dashboard .pledge-log .headers .column.donor {
    width: 40%;
    min-width: 9.5em;
    margin: 1%;
}
#event-dashboard .pledge-log .headers .column.team {
    width: 30%;
    min-width: 7.5em;
    margin: 1%;
}
#event-dashboard .pledge-log .headers .column.amount {
    width: 10%;
    min-width: 4em;
    margin: 1%;
}
#event-dashboard .pledge-log .pledge {
    width: 96%;
    margin: 1%;
    padding: 1%;
}
#event-dashboard .pledge-log .pledge {
    background-color: #A3EB87;
}
#event-dashboard .pledge-log .pledge .attr {
    display: inline-block;
}
#event-dashboard .pledge-log .pledge .attr.donor {
    width: 40%;
    min-width: 9.5em;
    margin: 1%;
}
#event-dashboard .pledge-log .pledge .attr.team {
    width: 30%;
    min-width: 7.5em;
    margin: 1%;
}
#event-dashboard .pledge-log .pledge .attr.amount {
    width: 10%;
    min-width: 4em;
    margin: 1%;
}

#event-dashboard .overall {
    width: 80%;

    margin: 1% auto;
}
#event-dashboard .overall .title {
    padding: 1%;

    background-color: #A3EB87;
}
#event-dashboard .overall .progress-bar {
    width: 100%;
    height: 3em;

    background-color: #FFFFFF;
}
#event-dashboard .overall .progress-bar .pct-complete {
    height: 100%;

    background-color: #A0CAFF;

    text-align: right;
}
#event-dashboard .overall .progress-bar .pct-complete .label {
    padding: .9em .4em;
}

@media screen and (min-width: 600px)  {
    #event-dashboard .header {
        margin: .7em auto;
    }
    #event-dashboard .header .logo {
        display: inline-block;
    }
    #event-dashboard .header .text {
        display: inline-block;

        width: 70%;

        vertical-align: middle;
    }
}
@media screen and (min-width: 800px)  {
    #event-dashboard .header .clock {
        display: inline-block;

        width: 13%;
        margin: 1%;

        vertical-align: middle;
    }
}
@media screen and (min-width: 1200px)  {
    #event-dashboard .pledge-breakdown {
        display: inline-block;

        width: 60%;
    }
    #event-dashboard .pledge-log {
        display: inline-block;

        width: 35%;
    }
}