// Place all the styles related to the lists of fundraisers here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list .item.fundraiser {
    width: 90%;
    max-width: 40em;
    margin: auto;
    padding: 2%;

    border-radius: .3em;

    background-color: #A3EB87;
}

.list .item.fundraiser .attr {
    width: 100%;
}
.list .item.fundraiser .attr .label {
    display: inline-block;
    
    font-weight: bold;
}
.list .item.fundraiser .attr .value {
    display: inline-block;
    margin-left: 2%;
}

.list .item.fundraiser .attr.description .label {
    position: relative;
    right: 3%;
}
.list .item.fundraiser .attr.description .value {
    display: inline-block;

    width: 97%;
    margin-left: 3%;
}

@media screen and (min-width: 600px)  {
    .list .item.fundraiser {
        padding: .7em;
    }
    .list .item.fundraiser .attr.description {
        margin: .5em 0;
    }
    .list .item.fundraiser .attr.fundraiser-snapshot {
        display: block;
    }
}
