// Place all the styles related to the Fundraisers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require pickdate/default
//= require pickdate/default.date
//= require pickdate/default.time

.fundraiser-form .field input.datetime {
    display: inline-block;

    width: 40%;

    padding: 2%;
}
.fundraiser-form .field .picker--time .picker__frame {
    min-width: 180px;
    max-width: 200px;
}
.fundraiser-form .field .datetime-separator {
    display: none;
}

@media screen and (min-width: 450px)  {
  .fundraiser-form .field input.datetime {
      display: inline-block;

      width: 35%;
  }
  .fundraiser-form .field .datetime-separator {
      display: inline-block;

      width: 10%;
      max-width: 1em;

      margin: 0 auto;

      text-align: center;
  }
}


.item.fundraiser .attr.pledges .value .percent {
    display: inline-block;
}
.item.fundraiser .attr.pledges .value .total {
    display: inline-block;
}
.item.fundraiser .attr.pledges .value .target {
    display: inline-block;
}
.item.fundraiser .attr.pledges .value .count {
    display: inline-block;
}





/**
 *  ==== Index Styles ====
 */

#fundraiser-index .intro .title {
    margin: 3% 6%;

    color: #5F97DE;
    font-size: 1.5em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
}
#fundraiser-index .intro .description {
    margin: 2% 3%;
}
@media screen and (min-width: 700px)  {
    #fundraiser-index .intro .title {
        margin: .8em 6%;
    }
    #fundraiser-index .intro .description {
        margin: .8em 3%;
    }
}



/**
 * New Fundraiser Styles
 **/

#new-fundraiser form .custom-combobox {
    position: relative;
    display: inline-block;
    margin-right: 25px
}
#new-fundraiser form .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
#new-fundraiser form .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;

    font-size: 12px;
}
#new-fundraiser form .field_with_errors .custom-combobox-input {
    background-image: none;
}
#new-fundraiser form .custom-combobox a.ui-button {
    width: 23px;
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
}
#new-fundraiser form .custom-combobox a.ui-button:hover {
    border: 1px solid #666666;
}
#new-fundraiser form .field_with_errors .custom-combobox a.ui-button {
    border-color: #EB8787;
    background-color: #FFBDBD;
}

ul.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    font-size: 12px;
}

#new-fundraiser form .description .input textarea {
    height: 8em;
}





/**
 *  ==== Show Page ====
 */

#fundraiser-show .details .attribute.pledge-window .timeframe {
    display: inline-block;
    width: 60%;

    text-align: center;

    vertical-align: middle;
}
#fundraiser-show .details .attribute.pledge-window .timeframe .time {
    width: 100%;

    text-align: center;
}
#fundraiser-show .details .attribute.pledge-window .timeframe .time .date {
    display: inline-block;
}
#fundraiser-show .details .attribute.pledge-window .timeframe .time .time {
    display: inline-block;

    width: auto;
}
#fundraiser-show .details .attribute.pledge-window .timeframe .single-line {
    display: none;
}


@media screen and (min-width: 500px)  {
    #fundraiser-show .details .attribute.pledge-window .timeframe {
        width: 65%;

        text-align: left;
    }
    #fundraiser-show .details .attribute.pledge-window .timeframe .time {
        display: inline-block;
        width: 7.5em;

        text-align: center;

        vertical-align: middle;
    }
    #fundraiser-show .details .attribute.pledge-window .timeframe .single-line {
        display: inline-block;
    }
    #fundraiser-show .details .attribute.pledge-window .timeframe .multi-line {
        display: none;
    }
}
