// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home .section {
    width: 100%;
}
#home .section .body {
    width: 940px;
    margin: 0 auto;
}

#home .section.one {
    height: 400px;

    background-color: #A3EB87;
}

#home .section.two {
    height: 300px;
}

#home .section.three {
    height: 500px;

    background-color: #A0CAFF;
}