// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#org-new .centerer {
    max-width: 940px;
}

#org-new .progress-indicator {
    height: .1em;
}

.org-form .field.name input {
    font-size: 1.1em;

    padding: 0.75em 0.4em
}
.org-form .field .info .variable {
    display: inline-block;

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    font-style: italic;
}
