// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#org-new .centerer {
    width: 940px;
}

#org-new .progress-indicator {
    height: 1px;
}
.org-form .field.name input {
    font-size: 16px;
}
