// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
 *  ==== List Items ====
 **/

.list .item.team .team-info {
    width: 100%;
    color: #3861E2;

    font-size: 2em;
}
.list .item.team .actions .new-pledge {
    width: 80%;

    margin: .5em auto 0;

    font-size: 1.2em;
}
.list .item.team .actions .new-pledge .btn:hover {
    background-color: #DDDDDD;
}
.list .item.team .progress-bar {
    height: 2em;
    width: 80%;
    margin: 5% auto;

    background-color: #FFFFFF;
}
.list .item.team .progress-bar .pct-complete {
    height: 100%;

    background-color: #A0CAFF;
}

/**
 * ==== Show ====
 **/

#team-show .association.pledges .table {
    text-align: center;
}
#team-show .association.pledges .table .row {
    margin: 2% auto;
    padding: 2%;

    max-width: 60em;

    background-color: #A3EB87;
}
#team-show .association.pledges .table .row.header {
    background-color: #A0CAFF;
}
#team-show .association.pledges .table .row .attr {
    display: inline-block;

    margin: 1% auto;

    vertical-align: middle;
}
#team-show .association.pledges .table .row .attr.time {
    width: 35%;
}
#team-show .association.pledges .table .row .attr.donor {
    width: 40%;
}
#team-show .association.pledges .table .row .attr.amount {
    width: 15%;
}
#team-show .association.pledges .table .row .attr.comment {
    display: none;
}

#team-show .association.pledges .table .row .attr.amount.monthly:after,
#team-show .association.pledges .footer .monthly .symbol:after {
    content: "*";
    color: red;
}
#team-show .association.pledges .table .row.header .attr.amount .full {
    display: none;
}

#team-show .association.pledges .footer {
    text-align: center;
    font-size: .8em;
}

@media screen and (min-width: 500px)  {
    #team-show .association.pledges .table .row {
        margin: .4em auto;
        padding: .4em;
    }
    #team-show .association.pledges .table .row.header .attr.amount .full {
        display: block;
    }
    #team-show .association.pledges .table .row.header .attr.amount .abbreviated {
        display: none;
    }
}
@media screen and (min-width: 700px)  {
    #team-show .association.pledges .table .row .attr {
        margin: 0.9% auto;
    }
    #team-show .association.pledges .table .row .attr.time {
        width: 25%;
    }
    #team-show .association.pledges .table .row .attr.donor {
        width: 30%;
    }
    #team-show .association.pledges .table .row .attr.amount {
        width: 12%;
    }
    #team-show .association.pledges .table .row .attr.comment {
        display: inline-block;
        width: 30%;
    }
}
@media screen and (min-width: 700px)  {
    #team-show .association.pledges .table .row .attr {
        margin: 0.7% auto;
    }
    #team-show .association.pledges .table .row .attr.time {
        width: 20%;
    }
    #team-show .association.pledges .table .row .attr.donor {
        width: 27%;
    }
    #team-show .association.pledges .table .row .attr.amount {
        width: 10%;
    }
    #team-show .association.pledges .table .row .attr.comment {
        width: 40%;
    }
}