// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
 *  ==== List Items ====
 **/

.list .item.team .team-info {
    width: 100%;
}
.list .item.team .actions .new-pledge {
    width: 50%;

    margin: .5em auto 0;
}
.list .item.team .actions .new-pledge .btn:hover {
    background-color: #DDDDDD;
}

@media screen and (min-width: 500px)  {
    .list .item.team .team-info {
        display: inline-block;

        width: 70%;

        vertical-align: middle;
    }
    .list .item.team .actions {
        display: inline-block;

        width: 29%;

        vertical-align: middle;
        text-align: right;
    }
    .list .item.team .actions .new-pledge {
        float: right;

        width: 90%;
        max-width: 10em;

        margin: 0 0;
    }
}


/**
 * ==== Show ====
 **/

#team-show .association.pledges .table {
    text-align: center;
}
#team-show .association.pledges .table .row {
    margin: 2% auto;
    padding: 2%;

    max-width: 30em;

    background-color: #A3EB87;
}
#team-show .association.pledges .table .row.header {
    background-color: #A0CAFF;
}
#team-show .association.pledges .table .row .attr {
    display: inline-block;

    margin: 1% auto;

    vertical-align: middle;
}
#team-show .association.pledges .table .row .attr.time {
    width: 35%;
}
#team-show .association.pledges .table .row .attr.donor {
    width: 40%;
}
#team-show .association.pledges .table .row .attr.amount {
    width: 15%;
}

#team-show .association.pledges .table .row .attr.amount.monthly:after,
#team-show .association.pledges .footer .monthly .symbol:after {
    content: "*";
    color: red;
}
#team-show .association.pledges .table .row.header .attr.amount .full {
    display: none;
}

#team-show .association.pledges .footer {
    text-align: center;
    font-size: .8em;
}

@media screen and (min-width: 500px)  {
    #team-show .association.pledges .table .row {
        margin: .6em auto;
        padding: .6em;
    }
    #team-show .association.pledges .table .row.header .attr.amount .full {
        display: block;
    }
    #team-show .association.pledges .table .row.header .attr.amount .abbreviated {
        display: none;
    }
}