// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/**
 *  ==== List Items ====
 **/

.item.team .attr.pledges .value .percent {
    display: inline-block;
}
.item.team .attr.pledges .value .total {
    display: inline-block;
}
.item.team .attr.pledges .value .target {
    display: inline-block;
}
.item.team .attr.pledges .value .count {
    display: inline-block;
}
