<div id="org-new">
  <div class="centerer">
    <div class="progress-indicator"></div>
    <div class="instructions">
      <div class="title">Getting Started: Register Your Organization</div>
      <div class="description">
        The first step toward hosting an amazing fundraiser is to register your organization. This will record all of the information required to ...
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>
