<div id="org-new" class="std-form">
  <div class="centerer">
    <div class="progress-indicator"></div>
    <div class="instructions">
      <div class="title">Getting Started: Register Your Organization</div>
      <div class="description">
        The first step toward hosting an amazing fundraiser is to register your organization. The content provided in this form will be used as a basline for the branding applied to the pages we tailor for use in your event. It also allows us to follow up with donors and direct them to your donation page to follow through on their pledges. 
      </div>
    </div>

    <%= render(partial: 'form', locals: { action: 'Create', cancel_path: organizations_path }) %>

  </div>
</div>
