<div class="account-management">
  <% if current_user %>

    <div class="welcome">
      Welcome back, 
      <div class="account-name"><%= link_to current_user.first_name, show_user_path(current_user.id) %></div>
    </div>

  <% else %>

    <div class="vert-centerer"></div>

    <%= link_to new_session_path(:user), class: 'login-btn' do %>
      <div class="btn">Log In</div>
    <% end %>

  <% end %>
</div>
