<div class="account-management">
  <% if current_user %>

    <%= link_to destroy_session_path(:user), class: 'logout-btn', method: :delete do %>
      <div class="btn">Log Out</div>
    <% end %>

  <% else %>

    <%= link_to new_session_path(:user), class: 'login-btn' do %>
      <div class="btn">Log In</div>
    <% end %>

  <% end %>
</div>
