<div class="account-management">
  <% if current_user %>

    <%= link_to destroy_session_path(:user), method: :delete do %>
      <div class="btn">Logout</div>
    <% end %>

  <% else %>

    <%= link_to new_session_path(:user) do %>
      <div class="btn">Login</div>
    <% end %>

  <% end %>
</div>
