<div class="nav-items">
  <%= link_to root_path do %>
    <div class="nav-item home">
      <div class="vert-centerer"></div>Home
    </div>
  <% end %>
  <%= link_to about_path do %>
    <div class="nav-item about">
      <div class="vert-centerer"></div>About Us
    </div>
  <% end %>
</div>
