<div class="nav-items">
  <%= link_to root_path do %>
    <div class="nav-item home">
      <div class="vert-centerer"></div>Home
    </div>
  <% end %>
  <%= link_to(tour_path, data: { 'no-turbolink' => true }) do %>
    <div class="nav-item org-index">
      <div class="vert-centerer"></div>Take a Tour
    </div>
  <% end %>
  <%= link_to(new_event_url(protocol: secure_protocol)) do %>
    <div class="nav-item event-new">
      <div class="vert-centerer"></div>Start Raising
    </div>
  <% end %>
  <%= link_to about_path do %>
    <div class="nav-item about">
      <div class="vert-centerer"></div>About Us
    </div>
  <% end %>
</div>
