<div class="primary-nav">
  <%= link_to 'Home', root_url %>
<!--
  <%= link_to 'Start Raising', new_organization_path %>
  <%= link_to 'Find Events', organizations_path %>
-->
  <%= link_to 'About Us', about_url %>  
</div>
